.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    padding: 20px 0px;
    color: #e5e5e5;
}

.header-buttons__holder {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.nav-button {
    border-radius: 20px;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid blue;
        cursor: pointer;
    }
}
.nav-button__selected {
    border: 1px solid blue;
}

ul {
    list-style: none;
}