<div class="header-wrapper">
    <h5>Previsão do tempo</h5>
    <ul class="header-buttons__holder">
        <li>
            <a
                class="nav-button"
                [class.nav-button__selected]="selectedNav === 'inicio'"
                (click)="navigate('')"
                >Início
            </a>
        </li>
        <li>
            <a
                class="nav-button"
                [class.nav-button__selected]="selectedNav === 'woei'"
                (click)="navigate('woei')"
                >Códigos WOEI
            </a>
        </li>
        <li>
            <a
                class="nav-button"
                [class.nav-button__selected]="selectedNav === 'sobre'"
                (click)="navigate('about')"
                >Sobre
            </a>
        </li>
    </ul>
</div>
