<div class="day__wrapper">
    <div class="date">
        <div>
            {{ day.getDay() | weekDays }}
        </div>
        <div>
            {{ day.getDate() }}
            {{ day.getMonth() | month }}
        </div>
    </div>
    <div class="weather__content">
        <div class="weather__content--temperature">
            {{ forecast.temp }} <sup>o</sup><span>C</span>
        </div>
        <div class="weather__content--description">
            <span>{{ forecast.description }}</span>
            <div class="weather__content--icons">
                <span class="material-icons" style="margin-right: 4px;">water_drop</span>
                <span>{{ forecast.humidity }}%</span>
                <span class="material-icons" style="margin-right: 4px">air</span>
                <span>{{ forecast.wind_speedy }}</span>
            </div>
        </div>
    </div>
</div>