.day__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.date {
    display: flex;
    flex-direction: row;
    width: calc(100% - 32px);
    padding: 8px 16px;
    justify-content: space-between;
}

.weather__content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    padding: 16px;
}

.weather__content--temperature {
    font-size: 5em;
}

.weather__content--description {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.weather__content--icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}